.planCard {
	width: 30vw;
	height: 70vh;
	color: var(--neutral-50);
	font-family: var(--font-body);
	display: flex;
	flex-direction: column;
	background-color: var(--neutral-800);
	padding: 35px;
	padding-top: 40px;
	margin: 15px 10px;
	border-radius: 14px;
	border: 1px solid var(--neutral-800);
	margin-bottom: 30px;
	position: relative;
	transition: border 0.2s ease;
}

.planCard h3 {
	color: var(--neutral-50);
	font-size: 28px;
	font-weight: 700;
}

.planCard ul {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: 25px;
}

.planCard span {
	display: none;
}

.planCard:hover {
	border: 1px solid var(--primary-400);
}

.header {
	height: 25%;
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-bottom: 18px
}

.features {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.more {
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: end
}

.more a {
	width: 90%;
	text-decoration: none;
	color: var(--neutral-100);
	border: solid 1px var(--neutral-100);
	padding: 15px 0;
	text-align: center;
	border-radius: 25px;
	margin-top: 10px;
	font-size: 18px;
	font-weight: 600;
	transition: background-color 0.15s ease;
}

.more a:hover {
	background-color: var(--neutral-700);
}

.planCard.active {
	justify-content: center;
	height: 85vh;
	margin-bottom: 0;
	border: 1px solid var(--primary-500);
}

.planCard.active h3 {
	color: var(--primary-500);
}

.planCard.active span {
	display: block;
	color: var(--neutral-950);
	background-color: var(--primary-500);
	position: absolute;
	top: -14px;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	width: 149px;
	text-align: center;
	border-radius: 20px;
	padding: 5px 0;
  font-weight: 700;
}

.planCard.active a {
	background-color: var(--primary-500);
	color: var(--neutral-950);
	border: none;
}


/*--Diseño Responsive para PC--*/

@media (min-width: 2000px), (min-height: 1200px) {
  .planCard {
    width: 28vw;
    height: 55vh;
  }

  .planCard.active {
    height: 65vh;
    width: 28vw;
  }

  .planCard.active span {
    font-size: 18px;
    width: 220px;
    padding: 8px 0;
    top: -18px
  }

  .planCard h3 {
    font-size: 38px;
  }
 
  .planCard.active .header {
    height: 14%;
  }

  .header {
    height: 19%;
    gap: 15px;
  }

  .header p {
    font-size: 22px;
  }
}

@media (max-width: 1900px), (max-height: 1080px) {
  .planCard {
    width: 27vw;
    height: 59vh;
  }

  .planCard.active {
    width: 27vw;
    height: 69vh;
  }

  .header {
    height: 20%;
  }

  .planCard.active .header {
    height: 14%;
  }
}

@media (max-width: 1550px), (max-height: 1000px) {
  .planCard {
    width: 30vw;
    height: 60vh;
  }

  .planCard.active {
    width: 30vw;
    height: 70vh;
  }

  .header {
    height: 24%;
  }

  .planCard.active .header {
    height: 19%;
  }
}

@media (max-width: 1430px), (max-height: 850px) {
  .planCard {
    width: 30vw;
    height: 60vh;
  }

  .planCard.active {
    width: 30vw;
    height: 70vh;
  }

  .header p {
    font-size: 15px;
  }
}

@media (max-width: 1350px), (max-height: 780px) {
  .planCard {
    height: 73vh;
    width: 30vw;
  }

  .planCard.active {
    height: 83vh;
    width: 30vw;
  }
}


