.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 85px;
    background-color: var(--neutral-950);
    color: var(--neutral-50);
    align-items: center;
    margin-top: 0;
} 

.navBar h2 {
    font-size: 35px;
    color: var(--primary-500);
    margin-left: 25px;
    font-family: var(--font-body);
    font-weight: 700;
}

.navBar ul {
    margin-right: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 27px;
    background-color: var(--neutral-950);
}

@media (max-width: 930px) {
	.navBar ul {
		gap: 20px;	
	}

	.navBar h2 {
		font-size: 33px;
	}

}

@media (max-width: 780px) {
	.navBar ul {
		gap: 15px;
	}

	.navBar h2 {
		font-size: 28px;
	}
}

@media (max-width: 700px) {
    .navBar ul {
        opacity: 1;
        transform: translateX(150%);
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 45vw;
        height: 100vh;
        margin: 0;
        top: 0;
        right: 0;
        z-index: 0;
        gap: 20px;
        transition: transform 0.5s ease-in;
    }

    .navBar h2 {
        z-index: 1;
    }

    .navBar ul.active {
        opacity: 1;
        transform: translateX(0%);
        
    }
}
