.navItem{
    list-style: none;
    position: relative;
}

.navItem a {
    color: var(--neutral-50);
    text-decoration: none;
    font-size: 17px;
    font-family: var(--font-body);
    font-weight: 600;
    background-color: transparent;
}

.navItem a:hover {
    color: var(--primary-500);
    text-shadow: 0px 0px 3px var(--primary-400);
}

.cta a {
    color: var(--neutral-900);
    background-color: var(--primary-500);
    padding: 13px 14px;
    border-radius: 18px;
    transition: box-shadow 0.15s ease-in-out;
    font-weight: 700;
}

.cta a:hover {
    background-color: var(--primary-500);
    color: var(--neutral-900);
    box-shadow: 0px 0px 10px 5px color-mix(in srgb, var(--primary-600) 80%, transparent);
}

.navItem::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--primary-500); 
    transition: width 0.12s ease-in-out;
    border-radius: 10px;
}

.navItem:hover::after {
    width: 100%;
    box-shadow: 0px 0px 7px 1px var(--primary-400);
}

.cta:hover::after {
    content: '';
    position: absolute;
    background-color: transparent;
    width: 0;
}

/*--Diseño Responsive PC--*/

@media (min-width: 2000px) {
  .navItem a {
    font-size: 25px;
  }
}

@media (max-width: 2000px) {
  .navItem a {
    font-size: 22px;
  }
}

@media (max-width: 1500px) {
  .navItem a {
    font-size: 19px;
  }
}

@media (max-width: 1400px) {
  .navItem a {
    font-size: 18px;
  }
}

@media (max-width: 930px) {
	.navItem a {
		font-size: 15px;
	}
}

@media (max-width: 780px) {
	.navItem a {
		font-size: 14px;
	}
}

@media (max-width: 700px) {
        .cta {
        margin-top: 13px;
    }
}
