.planCardFeature {
	display: flex;
	flex-direction: row;
	align-items: center;	
}

.planCardFeature img {
	width: 17px;
	height: 17px;
	margin-right: 6px;
}

.planCardFeature p {
	color: var(--neutral-300);
}

/*--Diseño Responsive PC--*/

@media (min-width: 2000px), (min-height: 1200px) {
  .planCardFeature p {
    font-size: 19px;
  }

  .planCardFeature img {
    width: 22px;
    height: 22px;
  }
}

@media (max-width: 1900px), (max-height: 1080px) {
  .planCardFeature p {
    font-size: 18px;
  }

  .planCardFeature img {
    width: 20px;
    height: 20px;
  }
}
