.infoSection {
    overflow-x: hidden;
    width: 100vw;
    height: 13vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 25px;
    background: linear-gradient(color-mix(in srgb, var(--neutral-950) 60%, transparent), var(--neutral-950));
    backdrop-filter: blur(8px);
    position: relative;
    z-index: 99999999;
}


@media (max-width: 520px) {
    .infoSection {
        gap: 3px;
    }
}

@media (max-width: 450px) {
    .infoSection {
        gap: 1px;
    }
}