.section {
    width: 100%;
    padding: 70px 0;
    background: #111111;
    font-family: inter;
}

.container {
    width: min(1200px, 90%);
    margin: 0 auto;
}

.title {
    margin: 0;
    text-align: center;
    color: #f5f5f5;
    font-size: 33px;
    font-weight: 700;
}

.line {
    width: 46px;
    height: 4px;
    margin: 12px auto 42px;
    background: #35d66f;
    border-radius: 10px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    padding: 10px;
}

