.section {
    width: 100%;
    padding: 70px 0;
background-color: var(--secondary-950);
    font-family:  'Inter', sans-serif;
}

.container {
    width: min(1400px, 90%);
    margin: 0 auto;
}

.title {
    margin: 0;
    text-align: center;
color: var(--primary-50);
    font-size: 33px;
    font-weight: 700;
}

.line {
    width: 46px;
    height: 4px;
    margin: 12px auto 42px;
background-color: var(--primary-400);
    border-radius: 10px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    padding: 10px;
}

